@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var contact in Model.Contacts)
    {
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => contact.Name)
    </dt>
    <dd class="col-2">
        @Html.DisplayFor(model => contact.Name)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => contact.Address)
    </dt>
    <dd class="col-2">
        @Html.DisplayFor(model => contact.Address)
    </dd>
    <dd class="col-2">
        <a asp-page="./ContactDetails" asp-route-id="@contact.Id">Details</a> 
    </dd>
</dl>
            }
    </div>
